---
// src/pages/catalogo.astro
import Layout from '../layouts/Layout.astro';

const productos = [
  {
    nombre: 'Tulas Para Kits',
    descripcion: 'Bata médica de algodón 100% para máxima comodidad.',
    imagen: '/imagesEstetica/estetica1.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  {
    nombre: 'Pantaloneta',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica2.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  {
    nombre: 'kit Top y Panty',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica3.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  {
    nombre: 'Estraplera',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica4.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  {
    nombre: 'Pantuflas Desechables',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica5.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',  
  },
  {
    nombre: 'Forro Cabecero',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica6.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  {
    nombre: 'Diadema Spa',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica7.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  {
    nombre: 'Sabana Spa',
    descripcion: 'Kit de estetica para tu casa.',
    imagen: '/imagesEstetica/estetica8.jpg',
    precio: 19,
    categoria: 'Estetica y Belleza',
  },
  // Dotaciones Empresariales
  {
    nombre: 'Bata quirúrgica',
    descripcion: 'Pantalón médico de poliéster y algodón, resistente y duradero.',
    imagen: '/imagesDotaciones/dotacion1.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Tela SMS',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion2.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Overol Quirúrgico',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion3.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Bebero Odontológico',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion4.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Bata Paciente',
    descripcion: 'Bata siasa para niños y niñas.',
    imagen: '/imagesDotaciones/dotacion5.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Traje De Mayo',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion6.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Bata Laboratorio',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion7.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Polainas',
    descripcion: 'Pantalón médico de poliéster y algodón, resistente y duradero.',
    imagen: '/imagesDotaciones/dotacion8.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Sabana Quirurgica', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion9.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Funda almohada',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion10.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Rollos Para Camilla', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion11.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Fenestrado', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion12.jpg',
    precio: 19.99,  
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Bata Consulta', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion13.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Escafandra',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion14.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Paquete De Cirugia', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion15.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Campos Quirurgicos', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion16.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Uniforme Perzonalizado', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion17.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Bata Medico Antifluido', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion18.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Uniforme Antifluido hombre', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion19.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Uniforme Antifluido Mujer', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion20.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Uniformes De Enfermeria ', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion21.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  {
    nombre: 'Bata Sisa Pediatrica', 
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesDotaciones/dotacion22.jpg',
    precio: 19.99,
    categoria: 'Dotaciones Empresariales',
  },
  // Elementos de Protección
  {
    nombre: 'Bata Quirúrgica Profesional',
    descripcion: 'Bata quirúrgica de alta calidad para profesionales de la salud.',
    imagen: '/imagesProteccion/proteccion1.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
  {
    nombre: 'Bata Sisa Pediatrica',
    descripcion: 'Bata siasa para niños y niñas.',
    imagen: '/imagesProteccion/proteccion2.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
  {
    nombre: 'Kit Odontológico',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesProteccion/proteccion3.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
  {
    nombre: 'Kit Odontológico',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesProteccion/proteccion4.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
  {
    nombre: 'Pantalón Médico Resistente',
    descripcion: 'Pantalón médico de poliéster y algodón, resistente y duradero.',
    imagen: '/imagesProteccion/proteccion5.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
  {
    nombre: 'Kit Odontológico',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesProteccion/proteccion6.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
  {
    nombre: 'Kit Odontológico',
    descripcion: 'Kit odontológico para tu casa.',
    imagen: '/imagesProteccion/proteccion7.jpg',
    precio: 25.50,
    categoria: 'Elementos de Protección',
  },
 
];
const categorias = [...new Set(productos.map(producto => producto.categoria))];
---

<Layout title="Catálogo de Productos">
  <main class="container mx-auto mt-10 p-4">
    <h1 class="text-4xl font-extrabold text-center text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-teal-400 mb-10">
      Catálogo de Productos
    </h1>

    <div class="flex flex-wrap justify-center gap-4 mb-10">
      <button class="px-5 py-2 rounded-full bg-gradient-to-r from-blue-500 to-teal-400 text-white shadow-lg hover:shadow-xl transition transform hover:scale-105">
        Todas
      </button>
      {categorias.map((categoria) => (
        <button class="px-5 py-2 rounded-full bg-gradient-to-r from-blue-500 to-teal-400 text-white shadow-lg hover:shadow-xl transition transform hover:scale-105">
          {categoria}
        </button>
      ))}
    </div>

    <section class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-8">
      {productos.map((producto) => (
        <div class="relative group overflow-hidden rounded-2xl shadow-2xl transition-transform duration-500 hover:scale-105">
         <div class="relative">
              <img
                src={producto.imagen}
                alt={producto.nombre}
               class="object-cover w-full h-64 transition-transform duration-700 group-hover:scale-110"
              />
             <div class="absolute inset-0 group-hover:opacity-40 transition-opacity duration-500"></div>
            </div>

          <div class="p-6 bg-white">
            <h2 class="text-2xl font-bold mb-2 transition-colors duration-300 group-hover:text-blue-600">
              {producto.nombre}
            </h2>
            <p class="text-gray-600 mb-4 h-20 overflow-hidden">
              {producto.descripcion}
            </p>
            <div class="flex items-center justify-between">
              <span class="text-lg font-semibold text-blue-500">
                ${producto.precio.toFixed(2)}
              </span>
              <button class="px-4 py-2 rounded-full bg-blue-500 text-white hover:bg-blue-600 transition-colors duration-300 transform hover:scale-110">
                Ver más
              </button>
            </div>
          </div>
        </div>
      ))}
    </section>
  </main>
</Layout>
